.Search {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    grid-row: 1;
}

.Cards {
    justify-content: center;
    display:flex;
    flex-wrap: wrap;

}

input[type='text']{
    font-size: large;
    padding: 8px;
    width: 30%;
    background-color: #edf2f7;
    outline: none;
    border: 3px solid rgb(9, 9, 88);;
    border-radius: 5px;
}

